@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .background {
    @apply min-h-screen bg-center bg-cover bg-slate-900 text-slate-50;
  }

  .input {
    @apply w-80 rounded-md border-none focus:outline-none focus:ring focus:ring-slate-500 text-slate-900 text-lg px-2 py-1.5;
  }

  .label {
    @apply text-lg;
  }
}

.slider-container {
  width: 90%;
  margin: auto;
  cursor: pointer;
}

.slick-slide {
  padding: 0 0.8rem;
}

.slick-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
}
