@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .background {
    @apply min-h-screen bg-center bg-cover bg-slate-900 text-slate-50 dark:bg-slate-400;
  }

  .input {
    @apply w-80 rounded-md border-none focus:outline-none focus:ring focus:ring-slate-500 text-slate-900 text-lg px-2 py-1.5;
  }

  .label {
    @apply text-lg;
  }

  .iconBox {
    @apply flex items-center gap-2 text-sm sm:text-[1rem] text-slate-950 dark:text-slate-400 font-semibold;
  }
}

.slider-container {
  width: 90%;
  margin: auto;
  cursor: pointer;
}

.slider-title {
  font-size: 1.2rem;
  margin: 1rem 1.5rem;
}

.slick-slide {
  padding: 0 0.8rem;
}

.slick-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
}

@media screen and (max-width: 640px) {
  .slider-container {
    width: 80%;
  }
}
